<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.dip.tetsuc5.kyou"
    android:sharedUserId="jp.dip.tetsuc5.kyou.MyApplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/nico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".DokujoDownloadActivity" >
        </activity>
        <activity android:name=".GirlmenDownloadActivity" >
        </activity>
        <activity android:name=".MatomeDownloadActivity" >
        </activity>
        <activity android:name=".RecipeDownloadActivity" >
        </activity>

        <!-- 端末起動時にバッチを呼ぶレシーバ -->
        <receiver android:name=".bat.OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name=".DownloadChecker" >
        </service>
        <service android:name=".DownloadDaemon" >
        </service>
        <service android:name=".DeleteDaemon" >
        </service>
    </application>

</manifest>